<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="dist/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <header>
            <nav>
                <!-- brand -->
                <ul>
                    <li v-for="el in navbarLinks">
                        <a :href="el.link" v-if="el.link">
                            {{el.text}}
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>

        </main>
        <footer>
            
        </footer>
    </div>
    <script src="/appVue.js"></script>
</body>
</html>