<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="dist/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <section id="section-1">
            <header class="font-arial-black">
                <!-- navbar -->
                <div class="display-flex justify-content-sa align-item-c margin-top-40px">
                    <!-- brand -->
                    <div id="brand-container">
                        <img src="/public/img/gym_logo_1x.png" alt="AvadaGymLogo">
                    </div>

                    <!-- divides the logo from the links -->
                    <div class="flex-grow-1"></div>

                    <nav>
                        <!-- link list -->
                        <ul class="display-flex">
                            <li v-for="el in navbarLinks">
                                <a :href="el.link" v-if="el.link" class="font-size-x1">
                                    {{el.text}}
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header-container">
                    <div class="text-color-white font-size-x4"><strong>NO PAIN NO GAIN</strong></div>
                    <div class="text-color-white-x padding-t-15 padding-b-30">Motivation is what gets you started. Habit is what keeps you going.
                    </div>
                    <a href="#" class="button-1">JOIN US TODAY</a>
                </div>
            </header>
        </section>
        <section id="section-2">
            <div class="centered-container">
                <h3>WORLD CLASS Fitness</h3>
                <div>x x</div>
                <p>At Avada Gym, everything we do from topo to bottom is of the highest quality to ensure we're equipped
                    to help you reach your goals of a healty and fit lifestyle</p>
            </div>
        </section>
        <section id="section-3">
            <div>
                <img src="public/img/home_img-compressor-200x111.jpg" alt="">
            </div>
            <div>
                <h3>Sign up For A Free Training Session!</h3>
                <form action="">
                    <div>
                        <label>
                            Name <br>
                            <input type="text">
                        </label>
                    </div>
                    <label>
                        Email<br>
                        <input type="text">
                    </label>
                    <div>
                        <a href="#" class="button-2">START NOW!</a>
                    </div>
                </form>
            </div>
        </section>
        <section id="section-4">
            <div class="section-4-item-container">
                <div class="circle"></div>
                <div>Strength & conditioning</div>
                <div class="text-color-orange">x</div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit atque labore pariatur, repellat sed
                    asperiores inventore!</p>
            </div>

            <div class="section-4-item-container">
                <div class="circle"></div>
                <div>Strength & conditioning</div>
                <div class="text-color-orange">x</div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit atque labore pariatur, repellat sed
                    asperiores inventore!</p>
            </div>

            <div class="section-4-item-container">
                <div class="circle"></div>
                <div>Strength & conditioning</div>
                <div class="text-color-orange">x</div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit atque labore pariatur, repellat sed
                    asperiores inventore!</p>
            </div>

            <div class="section-4-item-container">
                <div class="circle"></div>
                <div>Strength & conditioning</div>
                <div class="text-color-orange">x</div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit atque labore pariatur, repellat sed
                    asperiores inventore!</p>
            </div>

        </section>
        <section id="section-5">
            <h3 class="text-color-white text-align-center">REAL WORLD RESULTS</h3>
            <div class="text-color-orange text-align-center">x x</div>
            <div class="">

                <div class="display-ib card bg-color-white">
                    <div class="display-ib">
                        <img src="public/img/review_1-compressor.jpg" class="display-ib" alt="">
                    </div>
                    <div class="display-ib">
                        <p class="display-ib">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae, modi dolores minima voluptatibus nemo sequi maxime animi dolore pariatur, autem eius temporibus. Assumenda reiciendis, optio corrupti minus corporis nihil temporibus!</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="section-6"></section>
        <section id="section-7"></section>
        <section id="section-8"></section>
        <section id="section-9"></section>
        <section id="section-10"></section>
        <main>

        </main>
        <footer>

        </footer>
    </div>
    <script src="/appVue.js"></script>
</body>

</html>