// text color
.text-color-white{
    color: $white;
}

.text-color-white-x{
    color: $darker-white;
}

.text-color-orange{
    color: $orange;
}

// background color

.bg-color-orange{
    background-color: $orange;
}

.bg-color-white{
    background-color: $white;
}

