*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.vertical-align{
    vertical-align: middle;
}

.font-size-x4{
    font-size: $spacing * 4;
}

.centered-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    height: 200px;
    width: 150px;
}

.circle{
    width: 50px;
    height: 50px;
    border: 1px solid $orange;
    border-radius: 50%;
}

.text-align-center{
    text-align: center;
}
