*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display-flex{
    display: flex;
}
.justify-content-sa{
    justify-content: space-around;
}

.vertical-align{
    vertical-align: middle;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}