#section-1{
    padding: $spacing *2;
    background-image: url("C:/Users/Saimon/Desktop/Boolean/35 proj-html-vuejs/public/img/home-banner.jpg");
    background-size: cover;
    width: 100vw;
    height: 400px;
    align-items: flex-start
}